<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<% include menu%>
<h1><%=title%></h1>
<p>Fill in the form below to add new post</p>
<% include message %>
<form action="/entries/posting" method="post">
    <p>
        <input type="text" name="title"/>
    </p>
    <p>
        <input type="text" name="body"/>
    </p>
    <p>
        <input type="submit" value="post"/>
    </p>
</form>
</body>
</html>